<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="toolTip.ShowAlways" value="False"/>
		<add key="shadowfiles.path" value="%temp%\nunit20\ShadowCopyCache"/>
	</appSettings>
	<startup>
	<supportedRuntime version="v1.1.4322"/>
	<requiredRuntime version="v1.1.4322" safemode="true"/></startup>
</configuration>
